@charset "UTF-8";

.select_nav_bottom {
	border-bottom: 1px solid #dedede;
}

.nav_link {
	padding: 10px 15px;
	font-weight: bold;
}

.nav_link:hover {
	transition: 0.2s ease-out;
	background-color: rgb(2, 87, 215);
}

.nav_link:hover > .nav_link_a {
	transition: 0.2s ease-out;
	color: white !important;
	
}

.nav_link_a {
	font-weight: bold !important;
	font-size: 15px;
}

.link_active {
	background-color: rgb(2, 87, 215);
}

.link_active a {
	color: white !important;
}


.search_form {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}




.form_select {
	font-size: .8rem;
	width: 80px;
	height: 40px;
	border-radius: 0px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	background-color: rgb(246, 246, 246);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}



.form_search {
	width: 350px;
	height: 40px;
	border-radius: 0px;
	border: 1px solid #dee2e6;
}

.form_search::placeholder {
	font-size: 15px;
	font-weight: 550;
	color: rgb(130, 146, 159);
}

.form_search_bt {
	width: 100px;
	height: 40px;
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: rgb(126, 151, 192);
	color: white;
	font-weight: bold;
	
}

.form_search_bt:hover {
	transition: 0.2s ease-out;
    background-color: rgb(2, 87, 215);
}

.form_search_bt:not(:hover) {
	transition: 0.2s ease-out;
}




.book_size {
	font-size: 15px !important;
	font-weight: bold !important;
}

.book_size span {
	font-size: 20px !important;
}

.book_page {
	display: flex;
}


.tab-content > .active {
    display: block;
}

.fade {
    transition: opacity 0.15s linear;
}

.table-sm {
    font-size: .8rem;
}

.table {
	width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-weight: 400;
}

.table tr th:first-child, .table tr td:first-child {
    border-left: 0;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6 !important;
}

.table-sm th {
    padding: 0.2rem;
}

.table th {
    background-color: #f2f2f2;
    border-bottom-width: 1px;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
}

.table tr th:last-child, .table tr td:last-child {
    border-right: 0;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    vertical-align: middle;
}

.item-additional-info h3 {
    font-weight: 550;
    font-size: 20px;
}

.item-overview-info-block > h4 {
     padding-bottom: 0.5rem; 
    border-bottom: 1px solid #dedede;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 16px;
    background-color: #fbfbfb;
}

.item-overview-info-block {
    position: relative;
    border: 1px solid #dedede;
}

.item-overview-info-block > div {
    font-size: 15px;
    padding: 1.5rem;
}

.item-overview-info-block-body {
    position: relative;
    overflow-y: hidden;
    max-height: 400px;
}

.str_yes{
	font-weight: bold;
	color: #0D6EFD;
}

.str_no{
	font-weight: bold;
	color: #c80000;
}

.table>:not(:last-child)>:last-child>* {
     border-bottom-color: #dee2e6 !important; 
}

.update_bt {
	padding: 5px;
	border-radius:5px;
	color:white;
	background-color:#c5ccd3!important;
	border: none;
	font-weight: bold;
}

.update_bt:hover {
	outline:none;
	transition: 0.2s ease-out;
	background-color:#98a5b1!important;
}

.form_search_bt:not(:hover) {
	transition: 0.2s ease-out;
}